# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @js-owner and not the global
# owner(s) will be requested for a review.
package.json    @yuichielectric-demo
package-lock.json    @yuichielectric-demo
